@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>FileUpload</h2>
            <form action="index" enctype="multipart/form-data" method="post">
        <p>
            Type some text (if you like):<br>
            <input type="text" name="textline" size="30">
        </p>
        <p>
            Please specify a file, or a set of files:<br>
            <input type="file" name="datafile" size="40">
        </p>
        <div>
            <input type="submit" value="Send">
        </div>
        </form>
    </div>
    <div class="col-md-8">
        <h2>Multi-Level Dropdowns</h2>
    </div>

</div>